<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2">{{ title }}</div>
    <p class="text-gray-700 text-base">
      Are you sure you want to delete?
    </p>
  </div>

  <div class="px-6 pt-4 pb-2">
    <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-2"
      (click)="onYes(true)">
      Yes
    </button>

    <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded mt-2"
      (click)="onNo()">
      No
    </button>
  </div>
</div>
