<section>
  <bus-heading 
    title="Register a Vehicle"
    subTitle="Define a vehicle that will be part of a Line.">
    <bus-vehicle-icon icon />
  </bus-heading>
  
  <div busFormFieldsWrapper>
    <bus-input-wrapper>
      <label busLabel for="identification">Identification</label>
      <input busInput id="identification" name="identification" />
    </bus-input-wrapper>

    <bus-input-wrapper>
      <label busLabel for="description">Description</label>
      <input busInput id="description" name="description" />
    </bus-input-wrapper>
  </div>

  <input busSubmitButton title="Submit" type="submit" />
</section>