<section>
  <bus-heading 
    title="Register a Vehicle"
    subTitle="Define a vehicle that will be part of a Line.">
    <bus-vehicle-icon icon />
  </bus-heading>
  
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <bus-back-end-alert [error]="validator.error" />

    <div busFormFieldsWrapper>
      <bus-input-wrapper #description name="description" [form]="form" [messages]="messages">
        <label busLabel [for]="description.name">Description</label>
        <input busInput
          [id]="description.name"
          [name]="description.name"
          [formControlName]="description.name" />
      </bus-input-wrapper>
    </div>
    
    <input busSubmitButton
      data-testid="submit-button"
      title="Submit"
      [isDisabled]="!form.valid" />

    @if (id != undefined) {
      <button
        data-testid="delete-button"
        busWarningButton (click)="onDelete($event)">Delete</button>
    }
  </form>
</section>
