<section>
  <bus-heading title="Places" subTitle="Places that are part of the itinerary of the lines.">
    <a busButton routerLink="/places/create">Create</a>
    <bus-vehicle-icon icon />
  </bus-heading>

  <bus-search-input (onSearchTermChanges)="onSearchTermChanges($event)" />

  @defer {
    <bus-table [headers]="['Identification', 'City']">
      @for (place of places | searchFilter : searchTerm : 'identification'; track $index) {
        <tr busTableRow routerLink="/places/edit/{{ place.id }}">
          <td busTableCell>{{ place.identification }}</td>
          <td busTableCell>{{ place.city }}</td>
        </tr>
      }
    </bus-table>
  } @placeholder (minimum 250ms) {
    <bus-spinner />
  }
</section>