<section>
  <bus-heading title="Vehicles" subTitle="Vehicle types that are associated with the lines.">
    <a busButton routerLink="/vehicles/create">Create</a>
    <bus-vehicle-icon icon />
  </bus-heading>

  <bus-search-input (onSearchTermChanges)="onSearchTermChanges($event)" />

  @defer {
    <bus-table [headers]="['Description', 'Identification']">
      @for (vehicle of vehicles | searchFilter : searchTerm : ['identification']; track $index) {
        <tr busTableRow routerLink="/vehicles/edit/{{ vehicle.identification }}">
          <td data-testid="vehicle-description" busTableCell>{{ vehicle.description }}</td>
          <td busTableCell>{{ vehicle.identification }}</td>
        </tr>
      }
    </bus-table>
  } @placeholder (minimum 250ms) {
    <bus-spinner />
  }
</section>